

.box1{
    position: absolute;
    border-left: 100px solid #C69B41;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    width: 0;
    height: 0;
    top: 415px;
    left: 0px;
}

.box2{
    position: absolute;
    transform: rotate(-67deg);
    border-right: 370px solid #ADAFB3;
    border-top:  150px solid transparent;
    border-bottom: 150px solid transparent;
    width: 0;
    height: 0;
    top: -99px;
    left: -150px;
}


.box3{
    position: absolute;
    border-right: 315px solid #2E2A28;
    border-left: 315px solid transparent;
    border-bottom: 315px solid transparent;
    border-top: 315px solid transparent;
    width: 0;
    height: 0;
    top: -15px;
    left: -430px;
    animation: box3 10s ease infinite;
}

.box5{
    position: absolute;
    border-top: 220px solid #73686C;
    border-right: 220px solid transparent;
    border-left: 220px solid transparent;
    border-bottom: 220px solid transparent;
    width: 0;
    height: 0;
    top: -54px;
    left: 250px;
    animation: box5 15s ease infinite;
}

.container{
    margin: 2rem 25vw;
    padding: 1rem 0;
    background-color: rgb(250, 250, 250);
    width: 46.5%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    background-color: #E0D9CF;
}


.box6{
    position: absolute;
    border-right: 210px solid #A1A6AE;
    border-top: 210px solid transparent;
    border-bottom: 210px solid transparent;
    transform: rotate(-45deg);
    width: 0;
    height: 0;
    top: 447px;
    left: 169px;
}


body{
    background-color: #C48F76;

}

.box4{
    position: absolute;
    border-right: 500px solid #AF1305;
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    width: 0;
    height: 0;
    top: -65px;
    left: 200px;
    animation: box4 10s ease infinite;
}

h1{
    text-align: center;
    font: bold;
    color: black;
}

a{
    color: white;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

p{
    text-align: center;
}

@keyframes box4{
    0% {border-right: 500px solid #AF1305;}
    50% {border-right: 500px solid #723D67;}
    100% {border-right: 500px solid #AF1305;}
}

@keyframes box5{
    0% {border-top: 220px solid #73686C;}
    25% {border-top: 220px solid #305923;}
    50% {border-top: 220px solid #663d18;}
    75% {border-top: 220px solid #FFDA88;}
    100% {border-top: 220px solid #73686C;}
}

@keyframes box3{
    0% {border-right: 315px solid #2E2A28;}
    50% {border-right: 500px solid #66b173;}
    100% {border-right: 315px solid #2E2A28;}
}
